// This is the Sass file we edit

// Variables for Bootstrap that we want to change
$body-bg: #DDD;



// Import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

#calc-container {
    width: 50%;
    margin:auto;
    border: 1px solid black;
    min-width:20em;
    background-color: #FFF;
    .row {
        margin:0;
    }
    p {
        text-align:center;
        border: 1px solid black;
        margin: 0;
        padding: 0;
        height:100px;
        line-height: 100px;
        font-size: 24px;
        cursor: pointer;
    }
    #display {
        cursor: default;
        font-family: monospace;
    }
}
